<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736599222626-mmkse4v0jtp0rafgi1k05dkeul91lvbl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736599222626-mmkse4v0jtp0rafgi1k05dkeul91lvbl</string>
	<key>API_KEY</key>
	<string>AIzaSyDxvrTq_XqkEad1sLisCGV4h9F-MksXtgQ</string>
	<key>GCM_SENDER_ID</key>
	<string>736599222626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Artique</string>
	<key>PROJECT_ID</key>
	<string>artique-926dd</string>
	<key>STORAGE_BUCKET</key>
	<string>artique-926dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736599222626:ios:bd3815e938ec6f9e32a43b</string>
</dict>
</plist>